<section class="products">
    <div class="container">
        <div class="products__content" id="products">
            <p class="products__content_top_heading top_heading">100% natural</p>
            <h2 class="products__content_title title">products</h2>

            <div class="products__list">
                <div class="product">
                    <div class="product__block_image">
                        <img class="product__image_icon" src="./image/product_1.webp" alt="Ice Cream Image" loading="lazy">
                        <div class="product__image_background product__image_background-green"></div>
                    </div>
                    <div class="product__info product__info-green">
                        <h3 class="product__info_name">Ice Cream</h3>
                        <p class="product__info_description">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer

                        </p>
                        <a class="product__info_link" onclick="viewPopUp('buyProduct'); selectProductPopUp(0)">
                            <img class="product__info_link_icon" src="./image/arrow_dark.svg" alt="Link Arrow" loading="lazy">
                        </a>
                    </div>
                </div>

                <div class="product">
                    <div class="product__block_image">
                        <img class="product__image_icon" src="./image/product_2.webp" alt="Ice Cream Image" loading="lazy">
                        <div class="product__image_background product__image_background-yellow"></div>
                    </div>
                    <div class="product__info product__info-yellow">
                        <h3 class="product__info_name">Ice Coffee</h3>
                        <p class="product__info_description">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers</p>
                        <a class="product__info_link" onclick="viewPopUp('buyProduct'); selectProductPopUp(1)">
                            <img class="product__info_link_icon" src="./image/arrow_dark.svg" alt="Link Arrow" loading="lazy">
                        </a>
                    </div>
                </div>

                <div class="product">
                    <div class="product__block_image">
                        <img class="product__image_icon" src="./image/product_3.webp" alt="Ice Cream Image" loading="lazy">
                        <div class="product__image_background product__image_background-pink"></div>
                    </div>
                    <div class="product__info product__info-pink">
                        <h3 class="product__info_name">milkshakes</h3>
                        <p class="product__info_description">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice</p>
                        <a class="product__info_link" onclick="viewPopUp('buyProduct'); selectProductPopUp(2)">
                            <img class="product__info_link_icon" src="./image/arrow_dark.svg" alt="Link Arrow" loading="lazy">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>