<section class="products">
	<div class="container">
		<div class="products__content" id="products">
			<p class="products__content_top_heading top_heading">100% натуральные</p>
			<h2 class="products__content_title title">Продукты</h2>

			<div class="products__list">
				<div class="product">
					<div class="product__block_image">
						<img
							class="product__image_icon"
							src="./image/product_1.webp"
							alt=""
							loading="lazy"
						/>
						<div
							class="product__image_background product__image_background-green"
						></div>
					</div>
					<div class="product__info product__info-green">
						<h3 class="product__info_name">Шоколадное мороженое</h3>
						<p class="product__info_description">
							Нежное мороженое с мягким вкусом. Готовим из молока, сливок,
							сахара и натурального стабилизатора
						</p>
						<button
							class="product__info_link"
							aria-label="Купить мороженое"
							onclick="
								viewPopUp('buyProduct')
								selectProductPopUp(0)
							"
						>
							<img
								class="product__info_link_icon"
								src="./image/arrow_dark.svg"
								alt=""
								loading="lazy"
							/>
						</button>
					</div>
				</div>

				<div class="product">
					<div class="product__block_image">
						<img
							class="product__image_icon"
							src="./image/product_2.webp"
							alt=""
							loading="lazy"
						/>
						<div
							class="product__image_background product__image_background-yellow"
						></div>
					</div>
					<div class="product__info product__info-yellow">
						<h3 class="product__info_name">Кофе со льдом</h3>
						<p class="product__info_description">
							Ароматный бодрящий напиток из 100% натуральных ингредиентов. Без
							консервантов и усилителей вкуса
						</p>
						<button
							class="product__info_link"
							aria-label="Купить кофе со льдом"
							onclick="
								viewPopUp('buyProduct')
								selectProductPopUp(1)
							"
						>
							<img
								class="product__info_link_icon"
								src="./image/arrow_dark.svg"
								alt=""
								loading="lazy"
							/>
						</button>
					</div>
				</div>

				<div class="product">
					<div class="product__block_image">
						<img
							class="product__image_icon"
							src="./image/product_3.webp"
							alt=""
							loading="lazy"
						/>
						<div
							class="product__image_background product__image_background-pink"
						></div>
					</div>
					<div class="product__info product__info-pink">
						<h3 class="product__info_name">Молочные коктейли</h3>
						<p class="product__info_description">
							Сладкие напитки на основе молока и мороженого. Добавляем сиропы,
							фрукты, ягоды и любые сладости на твой выбор
						</p>
						<button
							class="product__info_link"
							aria-label="Купить молочный коктейль"
							onclick="
								viewPopUp('buyProduct')
								selectProductPopUp(2)
							"
						>
							<img
								class="product__info_link_icon"
								src="./image/arrow_dark.svg"
								alt=""
								loading="lazy"
							/>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
