@use "../../style/variables";

.popup__buy_now {
    width: 568px;
    height: 644px;
}

.popup__buy_now_title {
    margin-bottom: 32px;
}

.popup__buy_now_products {
    width: 460px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup__buy_now_product {
    width: 132px;
    height: 198px;
    position: relative;
}

.popup__buy_now_product_block_image {
    width: 132px;
    height: 132px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.popup__buy_now_product_image {
    width: 132px;
    height: 132px;
    border-radius: 100%;
}

.popup__buy_now_product_image_background {
    width: 132px;
    height: 132px;
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 100%;
}

.popup__buy_now_product_image_background-green {
    background-color: #96AF8C;
    box-shadow: 0 5px 20px 0 rgba(10, 136, 23, 0.25);
}

.popup__buy_now_product_image_background-yellow {
    background-color: #EFD478;
    box-shadow: 0 5px 20px 0 rgba(143, 114, 23, 0.25);
}

.popup__buy_now_product_image_background-pink {
    background-color: #D6936D;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
}

.popup__buy_now_product_block {
    height: 135px;
    border-radius: 16px;
    margin-top: 63px;
    position: relative;
    z-index: 1;
    border: 3px solid;
    cursor: pointer;
}

.popup__buy_now_product_block-green {
    border-color: #96AF8C;
}

.popup__buy_now_product_block-yellow {
    border-color: #EFD478;
}

.popup__buy_now_product_block-pink {
    border-color: #D6936D;
}

.popup__buy_now_product_block-green-active  {
    background-color: #96AF8C;
}

.popup__buy_now_product_block-yellow-active  {
    background-color: #EFD478;
}

.popup__buy_now_product_block-pink-active {
    background-color: #D6936D;
}

.popup__buy_now_product_name {
    position: absolute;
    bottom: 18px;
    left: 0;
    right: 0;

    font-weight: variables.$bold;
    color: variables.$color-text-dark;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
}

.popup__buy_now_form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup_buy_now_input {
    margin-bottom: 16px;
}

.popup__buy_now_button {
    margin: 32px auto 0;
}