
<div class="popup popup__franchise" id="popUpFranchise">
    <p class="popup__title popup__franchise_title">Thank you for your interest in owning an Ice Cream shop</p>
    <p class="popup__description popup__franchise_description">Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at this time. Once the application process resumes, we will contact you for further information. Please fill out the contact information below and we will reach out for additional information. We appreciate your patience.</p>

    <form class="popup__franchise_form">
        <input class="popup__input popup__franchise_input" placeholder="Name" type="text" name="name">
        <input class="popup__input popup__franchise_input" placeholder="Phone" type="tel" name="phone">
        <input class="popup__input popup__franchise_input" placeholder="Email" type="email" name="email">

        <textarea class="popup__input popup__textarea" placeholder="Comment"></textarea>

        <button class="popup__franchise_button button__fill" type="submit">Submit</button>
    </form>

    <img class="popup__close" src="./image/close.svg" alt="Close" onclick="viewPopUp('franchise')">
</div>