
<div class="popup popup__how" id="popUpHow">
    <p class="popup__title popup__how_title">How it’s made?</p>

    <video class="popup__how_video" id="popUpHowVideo" width="360" height="200" controls>
        <source src="./video/video.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <p class="popup__description popup__how_description">Ice cream production goes through key stages: collecting ingredients, mixing, pasteurization, homogenization, air freezing, adding fillers, quenching, packaging, storage at -18°C and delivery in refrigerated trucks.</p>

    <img class="popup__close" src="./image/close.svg" alt="Close" onclick="viewPopUp('how')">
</div>