
<div class="popup popup__locations" id="popUpLocations">
    <p class="popup__title popup__locations_title">Our Locations</p>

    <iframe class="popup__locations_map" src="https://yandex.ru/map-widget/v1/?um=constructor%3A310843fb4ead85e8f9ad69b2a3ab072582fc8600fc91447f989442a8e1226c40&amp;source=constructor"></iframe>

    <a class="popup__locations_button button__fill" href="https://yandex.ru/maps/?um=constructor%3A310843fb4ead85e8f9ad69b2a3ab072582fc8600fc91447f989442a8e1226c40&source=constructorLink" target="_blank">Open map</a>

    <img class="popup__close" src="./image/close.svg" alt="Close" onclick="viewPopUp('locations')" loading="lazy">
</div>