<div class="popup popup__locations" id="popUpLocations">
	<p class="popup__title popup__locations_title">Наши кафе точки</p>

	<iframe
		class="popup__locations_map"
		src="https://yandex.ru/map-widget/v1/?um=constructor%3A0c5ca7f08e8331f18f85570a7e0d575369fabb6fcf6a40d7cdc6ae240c799026&amp;source=constructor"
	></iframe>

	<a
		class="popup__locations_button button__fill"
		href="https://yandex.ru/maps/?um=constructor%3A0c5ca7f08e8331f18f85570a7e0d575369fabb6fcf6a40d7cdc6ae240c799026&source=constructorLink"
		target="_blank"
		>Открыть карту</a
	>

	<img
		class="popup__close"
		src="./image/close.svg"
		alt="Close"
		onclick="viewPopUp('locations')"
		loading="lazy"
	/>
</div>
