@use "../../style/variables";

.popup__locations {
    width: 568px;
    height: 458px;

    @media (max-width: 704px) {
        width: 280px;
        height: 365px;
    }
}

.popup__locations_title {
    margin-bottom: 32px;

    @media (max-width: 704px) {
        margin-bottom: 20px;
    }
}

.popup__locations_map {
    width: 448px;
    height: 260px;
    border-radius: 10px;
    border: none;

    @media (max-width: 704px) {
        width: 224px;
        height: 200px;
    }
}

.popup__locations_button {
    margin-top: 32px;

    @media (max-width: 704px) {
        margin-top: 20px;
    }
}