@use "../../style/variables";

.popup__products {
	width: 568px;
	height: 1035px;
	margin-top: 100px;

	@media (width <= 704px) {
		width: 280px;
		height: 1010px;
		margin-top: 200px;
	}
}

.popup__products_title {
	margin-bottom: 32px;

	@media (width <= 704px) {
		margin-bottom: 20px;
	}
}

.popup__products_image_block {
	position: relative;
	margin-bottom: 32px;

	@media (width <= 704px) {
		margin-bottom: 20px;
	}
}

.popup__products_image {
	width: 132px;
	height: 132px;
	border-radius: 100%;
}

.popup__products_image_background {
	position: absolute;
	right: 0;
	bottom: -7px;
	left: 0;
	z-index: -1;
	width: 132px;
	height: 132px;
	border-radius: 100%;
}

.popup__products_background-green {
	background-color: #96AF8C;
	box-shadow: 0 5px 20px 0 rgb(10 136 23 / 25%);
}

.popup__products_background-yellow {
	background-color: #EFD478;
	box-shadow: 0 6px 20px 0 rgb(143 114 23 / 25%);
}

.popup__products_background-pink {
	background-color: #D6936D;
	box-shadow: 0 5px 20px 0 rgb(0 0 0 / 25%);
}

.popup__products_nutritional_values {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 320px;
	margin-bottom: 48px;
	list-style: none;

	@media (width <= 704px) {
		width: 240px;
		margin-bottom: 40px;
	}
}

.popup__product_nutritional_value {
	position: relative;
	width: 75px;
	height: 105px;
	border: 2px solid #9CBE8F;
	border-radius: 40px;

	@media (width <= 704px) {
		width: 53px;
		height: 72px;
	}
}

.popup__product_nutritional_value-green {
	border-color: #96AF8C;
}

.popup__product_nutritional_value-yellow {
	border-color: #EFD478;
}

.popup__product_nutritional_value-pink {
	border-color: #D6936D;
}

.popup__product_nutritional_value_count {
	position: absolute;
	top: -2px;
	left: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60px;
	height: 60px;
	font-size: 16px;
	font-weight: variables.$medium;
	line-height: 28px;
	color: variables.$color-text-dark;
	text-align: center;
	border-radius: 100%;
	transform: translateX(-50%);

	@media (width <= 704px) {
		width: 43px;
		height: 43px;
		font-size: 12px;
		line-height: 28px;
	}
}

.popup__product_nutritional_value_name {
	position: absolute;
	bottom: 16px;
	left: 50%;
	font-size: 14px;
	font-weight: variables.$regular;
	line-height: 17px;
	color: variables.$color-text-dark;
	transform: translateX(-50%);

	@media (width <= 704px) {
		bottom: 8px;
		font-size: 10px;
		line-height: 12px;
	}
}

.popup__products_ingredients_title {
	margin-bottom: 24px;
	font-size: 20px;
	font-weight: variables.$medium;
	line-height: 28px;
	color: variables.$color-text-dark;
}

.popup__products_ingredients {
	margin-bottom: 24px;
	list-style: none;
}

.popup__products_ingredient {
	display: flex;
	place-content: center space-between;
	width: 368px;
	margin-bottom: 12px;

	@media (width <= 704px) {
		width: 240px;
	}
}

.popup__products_ingredient_text {
	font-size: 14px;
	font-weight: variables.$regular;
	line-height: 176%;
	color: variables.$color-text-dark;
	letter-spacing: 0.04em;
}