<header class="header" id="header">
    <div class="container">
        <div class="header__content">
            <a class="header__logo_link" href="/">
                <img class="header__logo" src="./image/logo.svg" alt="Logo">
            </a>

            <nav class="header__navigation">
                <ul class="header__navigation_list">
                    <li class="header__navigation_list_item">
                        <a class="header__navigation_link" href="#home">Home</a>
                    </li>
                    <li class="header__navigation_list_item">
                        <a class="header__navigation_link" href="#how">How it’s made?</a>
                    </li>
                    <li class="header__navigation_list_item">
                        <a class="header__navigation_link" href="#products">Our products</a>
                    </li>
                    <li class="header__navigation_list_item">
                        <a class="header__navigation_link" href="#contant">Contact</a>
                    </li>
                </ul>
            </nav>

            <button class="button__fill" onclick="viewPopUp('buyNow')">
                Buy now
                <svg class="button__fill_arrow" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 2L8.95 6L4 10" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
    </div>
</header>