
@font-face {
    font-family: "Seymour One";
    src: url("./fonts/seymour_one.woff2") format("woff2"),
        url("./fonts/seymour_one.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/montserrat_black.woff2") format("woff2"),
    url("./fonts/montserrat_black.woff") format("woff");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/montserrat_extra_bold.woff2") format("woff2"),
    url("./fonts/montserrat_extra_bold.woff") format("woff");
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/montserrat_bold.woff2") format("woff2"),
    url("./fonts/montserrat_bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}


@font-face {
    font-family: "Montserrat";
    src: url("./fonts/montserrat_semi_bold.woff2") format("woff2"),
    url("./fonts/montserrat_semi_bold.woff") format("woff");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/montserrat_medium.woff2") format("woff2"),
    url("./fonts/montserrat_medium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/montserrat_regular.woff2") format("woff2"),
    url("./fonts/montserrat_regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

