$font-family-1: "Montserrat";
$font-family-2: "Seymour One";

$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

$color-accent-1: #F8D24E;
$color-accent-2: #0A8817;

$color-text-light: #FCFCFC;
$color-text-dark: #131313;