<section class="intro">
    <div class="intro__container container">
        <div class="intro__content">
            <h1 class="intro__title">ice cream made with <span class="intro__title_highlighting">passion</span></h1>

            <div class="intro__links">
                <a class="intro__links_link button__border" href="#products">Products</a>
                <a class="intro__links_link_how" href="#how">How it’s made?</a>
            </div>

            <div class="intro__description">
                <img class="intro__description_image" src="./image/intro_image_2.webp" alt="Image">

                <div class="intro__description_block">
                    <p class="intro__description_text">Here you will find a variety of flavors.<br>Enjoy sweet moments every day!</p>
                    <a class="intro__description_link" href="#products">
                        <img class="intro__description_arrow" src="./image/arrow.svg" alt="Link Arrow">
                    </a>
                </div>
            </div>
        </div>

        <div class="intro__counts">
            <p class ="intro__counts_number">16</p>
            <p class ="intro__counts_name">cafes</p>
            <p class ="intro__counts_number">23</p>
            <p class ="intro__counts_name">food trucks</p>
        </div>

        <img class="intro__image" src="./image/intro_image_1.webp" alt="Intro Image">
    </div>



    <img class="intro__points" src="./image/points.webp" alt="Points">
</section>