<div class="locations">
    <div class="container">

            <div class="locations__list">
                <div class="location">
                    <div class="location__type ">Cafe</div>
                    <p class="location__city">Chicago</p>
                    <a class="location__address" href="https://yandex.ru/maps/?ll=-87.769896%2C41.704581&mode=usermaps&source=constructorLink&um=constructor%3A310843fb4ead85e8f9ad69b2a3ab072582fc8600fc91447f989442a8e1226c40&z=14" target="_blank">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                    <div class="location__line"></div>
                    <p class="location__working_day">Monday - Friday</p>
                    <p class="location__working_time">06:00 AM - 10:00 PM</p>
                    <p class="location__working_day">Saturday - Sunday</p>
                    <p class="location__working_time">08:00 AM - 16:00 PM</p>
                    <div class="location__line"></div>
                    <a class="" href="tel:+610383766284" >+61(0) 383 766 284</a>
                    <a class="" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>

                <div class="location">
                    <div class="location__type location__type-food-truck">Food Truck</div>
                    <p class="location__city">Los Angeles</p>
                    <a class="location__address" href="https://yandex.ru/maps/?ll=-118.408973%2C33.884709&mode=usermaps&source=constructorLink&um=constructor%3A310843fb4ead85e8f9ad69b2a3ab072582fc8600fc91447f989442a8e1226c40&z=16" target="_blank">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                    <div class="location__line"></div>
                    <p class="location__working_day">Monday - Friday</p>
                    <p class="location__working_time">06:00 AM - 10:00 PM</p>
                    <p class="location__working_day">Saturday - Sunday</p>
                    <p class="location__working_time">08:00 AM - 16:00 PM</p>
                    <div class="location__line"></div>
                    <a class="" href="tel:+610383766284" >+61(0) 383 766 284</a>
                    <a class="" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>

                <div class="location">
                    <div class="location__type">Cafe</div>
                    <p class="location__city location__text">New York</p>
                    <a class="location__address location__text" href="https://yandex.ru/maps/202/new-york/?ll=-73.952654%2C40.672018&mode=usermaps&source=constructorLink&um=constructor%3A310843fb4ead85e8f9ad69b2a3ab072582fc8600fc91447f989442a8e1226c40&z=16" target="_blank">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                    <div class="location__line"></div>
                    <p class="location__working_day location__text">Monday - Friday</p>
                    <p class="location__working_time">06:00 AM - 10:00 PM</p>
                    <p class="location__working_day location__text">Saturday - Sunday</p>
                    <p class="location__working_time">08:00 AM - 16:00 PM</p>
                    <div class="location__line"></div>
                    <a class="location__text" href="tel:+610383766284" >+61(0) 383 766 284</a>
                    <a class="location__text" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
            </div>

        <div class="locations__block">

            <div class="locations__buttons">
                <button class="locations__button button__fill" onclick="viewPopUp('locations')">
                    Our Locations
                    <svg class="button__fill_arrow" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 2L8.95 6L4 10" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
                <button class="locations__button button__border" onclick="viewPopUp('franchise')">
                    Franchise
                    <svg class="button__fill_arrow" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 2L8.95 6L4 10" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>