<div class="locations">
	<div class="container">
		<div class="locations_list">
			<div class="location">
				<div class="location__type">Кафе</div>

				<p class="location__city">Москва</p>

				<a
					class="location__address"
					href="https://yandex.ru/maps/213/moscow/?ll=37.605123%2C55.770429&mode=usermaps&source=constructorLink&um=constructor%3A0c5ca7f08e8331f18f85570a7e0d575369fabb6fcf6a40d7cdc6ae240c799026&z=14"
					target="_blank"
				>
					Улица Большая Дмитровка, дом 25, строение 1
				</a>
				<div class="location__line"></div>

				<p class="location__working_day">Понедельник - Пятница</p>
				<p class="location__working_time">09:00 – 22:00</p>
				<p class="location__working_day">Суббота - Воскресенье</p>
				<p class="location__working_time">10:00 – 23:00</p>

				<div class="location_contacts">
					<a class="" href="tel:+74951234567">+7 (495) 123-45-67</a>
					<a class="" href="mailto:moscow@ice.email">moscow@ice.email</a>
				</div>
			</div>

			<div class="location">
				<div class="location__type location__type-food-truck">Кафе-фургон</div>
				<p class="location__city">Санкт-Петербург</p>
				<a
					class="location__address"
					href="https://yandex.ru/maps/2/saint-petersburg/?ll=30.340592%2C59.947324&mode=usermaps&source=constructorLink&um=constructor%3A0c5ca7f08e8331f18f85570a7e0d575369fabb6fcf6a40d7cdc6ae240c799026&z=14"
					target="_blank"
					>Михайловский сад (пристань Павильон Росси)</a
				>
				<div class="location__line"></div>
				<p class="location__working_day">Понедельник - Пятница</p>
				<p class="location__working_time">10:00 – 20:00</p>
				<p class="location__working_day">Суббота - Воскресенье</p>
				<p class="location__working_time">11:00 – 21:00</p>

				<div class="location_contacts">
					<a class="" href="tel:+78123456789">+7 (812) 345-67-89</a>
					<a class="" href="mailto:spb@ice.email">spb@ice.email</a>
				</div>
			</div>

			<div class="location">
				<div class="location__type">Кафе</div>
				<p class="location__city location__text">Казань</p>
				<a
					class="location__address location__text"
					href="https://yandex.ru/maps/43/kazan/?ll=49.113545%2C55.793100&mode=usermaps&source=constructorLink&um=constructor%3A0c5ca7f08e8331f18f85570a7e0d575369fabb6fcf6a40d7cdc6ae240c799026&z=14"
					target="_blank"
					>Улица Баумана, дом 56 (пешеходная зона)</a
				>
				<div class="location__line"></div>

				<p class="location__working_day">Понедельник - Пятница</p>
				<p class="location__working_time">10:00 – 22:00</p>
				<p class="location__working_day">Суббота - Воскресенье</p>
				<p class="location__working_time">11:00 – 23:00</p>

				<div class="location_contacts">
					<a class="" href="tel:+78432345678">+7 (843) 234-56-78</a>
					<a class="" href="mailto:spb@ice.email">kazan@ice.email</a>
				</div>
			</div>
		</div>

		<div class="locations__block">
			<div class="locations__buttons">
				<button
					class="locations__button button__fill"
					onclick="viewPopUp('locations')"
				>
					Наши адреса
					<svg
						class="button__fill_arrow"
						width="12"
						height="12"
						viewBox="0 0 12 12"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M4 2L8.95 6L4 10"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
					</svg>
				</button>
				<button
					class="locations__button button__border"
					onclick="viewPopUp('franchise')"
				>
					Франшиза
					<svg
						class="button__fill_arrow"
						width="12"
						height="12"
						viewBox="0 0 12 12"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M4 2L8.95 6L4 10"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
					</svg>
				</button>
			</div>
		</div>
	</div>
</div>
