<div class="comments">
	<div class="swiper comments_images" id="photoSwiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img
					class="comments_image"
					src="./image/comments_1.webp"
					loading="lazy"
					alt="Обложка"
					width="1000"
					height="422"
				/>
			</div>
			<div class="swiper-slide">
				<img
					class="comments_image"
					src="./image/comments_2.webp"
					loading="lazy"
					alt="Обложка"
					width="1000"
					height="422"
				/>
			</div>
			<div class="swiper-slide">
				<img
					class="comments_image"
					src="./image/comments_3.webp"
					loading="lazy"
					alt="Обложка"
					width="1000"
					height="422"
				/>
			</div>
		</div>
	</div>

	<div class="swiper comments_swiper" id="commentsSwiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide comment">
				<img
					class="comment__photo"
					src="./image/comments_author_3.webp"
					alt="Фотография автора отзыва"
					loading="lazy"
					width="100"
					height="100"
				/>

				<div class="comment__block_text">
					<p class="comment__text">
						В жару лучше всего спасаюсь фруктовым льдом. У вас он всегда безумно
						вкусный. Рекомендую ваше кафе всем знакомым!
					</p>
				</div>

				<p class="comment__author">Елена, Казань</p>
			</div>

			<div class="swiper-slide comment">
				<img
					class="comment__photo"
					src="./image/comments_author_1.webp"
					alt="Фотография автора отзыва"
					loading="lazy"
					width="100"
					height="100"
				/>

				<div class="comment__block_text">
					<p class="comment__text">
						Мороженое — моя страсть! Обожаю ваш шоколадно-ореховый пломбир. И
						отдельное спасибо за сервис — всегда вежливо и очень быстро!
					</p>
				</div>

				<p class="comment__author">Дмитрий, Санкт-Петербург</p>
			</div>

			<div class="swiper-slide comment">
				<img
					class="comment__photo"
					src="./image/comments_author_2.webp"
					alt="Фотография автора отзыва"
					loading="lazy"
					width="100"
					height="100"
				/>

				<div class="comment__block_text">
					<p class="comment__text">
						Каждый день после универа заходим с друзьями. Обожаем ваше мороженое
						и уютную атмосферу — как дома!
					</p>
				</div>

				<p class="comment__author">Анна, Москва</p>
			</div>
		</div>

		<div class="comments_pagination_container">
			<div class="comments_pagination" id="commentsSwiperPagination"></div>
		</div>
	</div>
</div>
