@use "../../style/variables";

.comments {
	position: relative;
	padding-top: 455px;
	padding-bottom: 195px;
	background-image: url("./image/background_2.webp");

	@media (width <= 1170px) {
		padding-top: 300px;
	}

	@media (width <= 704px) {
		padding-top: 115px;
		padding-bottom: 390px;
	}
}

.comments_images {
	position: absolute;
	top: -95px;
	left: 50%;
	z-index: 1;
	width: 1000px;
	height: 422px;
	transform: translate(-50%);

	@media (width <= 1170px) {
		width: 704px;
		height: 327px;
		border-radius: 18px;
	}

	@media (width <= 704px) {
		width: 280px;
		height: 130px;
		border-radius: 8px;
	}
}

.comments_image {
	width: 100%;
	border-radius: 24px
}


.comments_swiper {
	cursor: grab;

	&:hover {
		cursor: grabbing;
	}
}

.comment {
	display: flex;
	flex-direction: column;
	align-items: center;
	user-select: none;
}

.comment__photo {
	width: 85px;
	height: 85px;
	margin-bottom: 32px;
	border-radius: 100%;
}

.comment__block_text {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 968px;
	height: 140px;
	margin-bottom: 32px;
	background-color: #84A178;
	border-radius: 24px;

	@media (width <= 1170px) {
		width: 704px;
		height: 140px;
	}

	@media (width <= 704px) {
		width: 280px;
		height: 256px;
		border-radius: 10px;
	}
}

.comment__text {
	width: 750px;
	font-size: 16px;
	font-weight: variables.$medium;
	line-height: 186%;
	color: variables.$color-text-light;
	text-align: center;
	letter-spacing: .04em;

	@media (width <= 1170px) {
		width: 545px;
		font-size: 14px;
	}

	@media (width <= 704px) {
		width: 210px;
		font-size: 12px;
		font-weight: variables.$regular;
		line-height: 255%;
	}
}

.comment__author {
	margin-bottom: 32px;
	font-size: 16px;
	font-weight: variables.$medium;
	line-height: 186%;
	color: variables.$color-text-dark;

	@media (width <= 1170px) {
		font-size: 14px;
	}
}

.comments__count {
	display: flex;
	justify-content: space-between;
	width: 72px;
}

.comments__count_circle {
	position: relative;
	width: 12px;
	height: 12px;
	cursor: pointer;
	background-color: #D9D9D9;
	border-radius: 100%;
	transition: all .3s ease-in-out;

	&::after {
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		width: 24px;
		height: 24px;
		content: "";
		transform: translate(-50%, -50%);
	}
}

.comments__count_circle-active {
	background-color: #84A178;
}