<div class="comments">
    <div class="comments__image" id="commentsImage"></div>

    <div class="comment">
        <img class="comment__photo" id="commentPhoto" src="./image/comments_author_1.webp" alt="Avatar Image" loading="lazy">

        <div class="comment__block_text">
            <p class="comment__text" id="commentText">Every day we come to you with friends after classes in college. We love your ice cream and casual atmosphere!</p>
        </div>

        <p class="comment__author" id="commentAuthor">Bryan, New-York</p>

        <div class="comments__count" id="commentsCounter">
            <div class="comments__count_circle comments__count_circle-active" onclick="changeComment(0, this)"></div>
            <div class="comments__count_circle" onclick="changeComment(1, this)"></div>
            <div class="comments__count_circle" onclick="changeComment(2, this)"></div>
        </div>
    </div>
</div>