<section class="how" id="how">
    <div class="container">
        <p class="how__top_heading top_heading">tradition and love </p>
        <h2 class="how__content_title title">how it’s made?</h2>

        <div class="how__content">
            <div class="how__content_block_image">
                <img class="how__block_image" src="./image/how.webp" alt="Image" loading="lazy">
                <div class="how__block_image_background"></div>
            </div>

            <div class="how__content_info">
                <p class="how__content_info_text">Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and we follow it when creating our handmade desserts.</p>
                <p class="how__content_info_text">We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes.</p>
                <p class="how__content_info_text">This is enough to choose ice cream and coffee for any mood!</p>

                <button class="button__fill how_button" onclick="viewPopUp('how')">
                    Read more
                    <svg class="button__fill_arrow" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 2L8.95 6L4 10" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="how__features">
            <div class="how__feature">
                <div class="how__feature_icon">
                    <img class="how__feature_icon_image" src="./image/cow.svg" alt="Cow" loading="lazy">
                </div>
                <p class="how__feature_count">721</p>
                <p class="how__feature_description">The ability to create unique combinations that satisfy different preferences.</p>
            </div>

            <div class="how__feature">
                <div class="how__feature_icon">
                    <img class="how__feature_icon_image" src="./image/weight.svg" alt="Cow" loading="lazy">
                </div>
                <p class="how__feature_count">16kg</p>
                <p class="how__feature_description">The available ingredients reduce unique production costs.</p>
            </div>

            <div class="how__feature">
                <div class="how__feature_icon">
                    <img class="how__feature_icon_image" src="./image/ice_cream.svg" alt="Cow" loading="lazy">
                </div>
                <p class="how__feature_count">84</p>
                <p class="how__feature_description">Frozen state quality preserves of product and simplifies transportation.</p>
            </div>
        </div>
    </div>
</section>