<section class="how" id="how">
	<div class="container">
		<p class="how__top_heading top_heading">традиции и любовь</p>
		<h2 class="how__content_title title">Как мы готовим</h2>

		<div class="how__content">
			<div class="how__content_block_image">
				<img
					class="how__block_image"
					src="./image/how.webp"
					alt="Image"
					loading="lazy"
				/>
				<div class="how__block_image_background"></div>
			</div>

			<div class="how__content_info">
				<p class="how__content_info_text">
					В Ice ты становишься не просто счастливее — ты становишься здоровее.
					Здоровье для нас важнее всего, поэтому мы готовим всё вручную и с
					душой.
				</p>
				<p class="how__content_info_text">
					Мы используем традиционные рецепты и 100% натуральные продукты. Наши
					десерты настолько естественны, что их можно давать детям с трёх лет.
					Любителей сладкого ждут 55 видов мороженого, 15 видов кофе и 23
					молочных коктейля.
				</p>
				<p class="how__content_info_text">
					Этого хватит, чтобы подобрать мороженое и кофе под любое настроение!
				</p>

				<button class="button__fill how_button" onclick="viewPopUp('how')">
					Узнать больше
					<svg
						class="button__fill_arrow"
						width="12"
						height="12"
						viewBox="0 0 12 12"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M4 2L8.95 6L4 10"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
					</svg>
				</button>
			</div>
		</div>

		<div class="how__features">
			<div class="how__feature">
				<div class="how__feature_icon">
					<img
						class="how__feature_icon_image"
						src="./image/cow.svg"
						alt="Cow"
						loading="lazy"
					/>
				</div>
				<p class="how__feature_count">721</p>
				<p class="how__feature_description">
					Вариант уникальных сочетаний для разных предпочтений
				</p>
			</div>

			<div class="how__feature">
				<div class="how__feature_icon">
					<img
						class="how__feature_icon_image"
						src="./image/weight.svg"
						alt="Cow"
						loading="lazy"
					/>
				</div>
				<p class="how__feature_count">16kg</p>
				<p class="how__feature_description">
					Доступных ингредиентов снижают себестоимость уникальных позиций
				</p>
			</div>

			<div class="how__feature">
				<div class="how__feature_icon">
					<img
						class="how__feature_icon_image"
						src="./image/ice_cream.svg"
						alt="Cow"
						loading="lazy"
					/>
				</div>
				<p class="how__feature_count">84</p>
				<p class="how__feature_description">
					Заморозка сохраняет качество и упрощает доставку
				</p>
			</div>
		</div>
	</div>
</section>
